﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
   
}


@media screen and (min-width: 768px) {
    .tweet-jumbotron {
        padding-top: 34px !important;
        padding-bottom: 34px !important;
    }
}


.btn-tweet {
    display: inline-block;
}

.txt-tweet {
    float: left;
    max-width: 500px;
}

.tweet-wrapper {
    margin: 0 auto;
    width: 571px;
    padding-top:30px;
    padding-bottom:30px;
}

.tweet-row {
    margin-bottom:20px;
}

.card-img-top {

    width: 124px;
    height: 124px;
    float: left;
}

.card h5 {
    display:inline-block;
}

