﻿@using FamousTweets.Models
@model List<FamousTweets.Models.TweetVM>

@{
    var tweetsBucket = Model;
    double rowCount = Math.Ceiling(Convert.ToDouble(tweetsBucket.Count / 3));
    List<int> cardIndexes = new List<int>();
}

@for ( int i= 0; i < rowCount; i++)
{
     int cardCount = 0;
    
   
<div class="row tweet-row">
    @for (int j = 0; j < tweetsBucket.Count; j++)
    {

        if (cardCount < 3 && !cardIndexes.Contains(j))
        {
            cardCount = cardCount + 1;
            var tweet = tweetsBucket[j];
            cardIndexes.Add(j);
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="@tweet.AuthorProfilePicture" alt="Card image cap" style="position: absolute;left: 5px;top: 5px;border-radius: 60px;">
                    <h5 class="card-title" style="width: 171px;margin-left: 137px;margin-top: 59px;">@Html.Raw(tweet.Author)</h5>
                    <div class="card-body">

                        <p class="card-text"><small class="text-muted">@tweet.TweetPostDateTime</small></p>
                        <p class="card-text">@Html.Raw(tweet.Tweet)</p>
                        <p class="card-text" style="width:40%;display:inline-block;float:left"><small class="text-muted"><strong>@tweet.RetweetCount</strong> Retweets</small></p>
                        <p class="card-text" style="width:60%;display: inline-block;"><small class="text-muted"><strong>@tweet.FavouritesCount</strong> Likes</small></p>


                        <p style="text-align:right"><a href="@tweet.TweetLink" class="btn btn-sm btn-primary" target="_blank">View on Twitter</a></p>
                    </div>
                </div>
            </div>
        } else if(cardCount < 3)
        {

            continue;

        } else
        {
            break;
        }


    }


</div>


  
}






