﻿@{
    ViewBag.Title = "Search Tweets";
}


<div class="row">

    <div class="col-md-12">
        <div class="tweet-wrapper">
            <div class="input-group">

                <input type="text" id="txtSearchTweet" class="form-control txt-tweet" placeholder="Type any keyword to see most popular tweets">
                <div class="input-group-append">
                    <input type="submit" id="btnSearchTweet" value="Search" class="btn btn-primary" />
                </div>


            </div>
        </div>

    </div>

</div>

<hr />

<div class="tweets-result">
</div>

<div id="divProcessing" style="display:none;text-align:center">
    <p><img src="@Url.Content("/Content/img/Spinner-Dots-30fps-200px.gif")"></p>
</div>


@section scripts {

    <script type="text/javascript">

        // This is the main Jquery code to prepare and send query and displays the tweets result in a wrapper
        function SearchTweets() {
            if ($.trim($('#txtSearchTweet').val()) == "" || $('#txtSearchTweet').val() == null || $('#txtSearchTweet').val() == undefined) {
                alert("Please enter any keyword to start searching tweets");
                DisableAjaxLoader();
                return false;
            }
                    $.ajax({
                url: '@Url.Action("SearchTweets","Home")',
                dataType: 'html',
                type: 'post',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ "query": $('#txtSearchTweet').val() }),
                        success: function (htmlResult, textStatus, jQxhr) {
                            DisableAjaxLoader();
                          htmlResult =   $.trim(htmlResult);
          if (htmlResult == null || htmlResult == "" || htmlResult == undefined) {
              alert("Sorry! No tweets found for the specified keyword");
              $('.tweets-result').html('').append(htmlResult);
            } else {
                $('.tweets-result').html('').append(htmlResult);
            }
                   
                },
                        error: function (jqXhr, textStatus, errorThrown) {
                            DisableAjaxLoader();
                    console.log(errorThrown);
                }
            });

        }

        function DisableAjaxLoader() {
            $('#divProcessing').hide();
            $("#btnSearchTweet").removeClass('disabled');

        }

    $(function () {

        $("#btnSearchTweet").on("click",function () {

            SearchTweets();

        });


        $("#txtSearchTweet").on("keypress", function (event) {

            if (event.keyCode == 13) {
                $('#divProcessing').show();
                $("#btnSearchTweet").addClass('disabled');
                $("#btnSearchTweet").trigger('click');
            }
        });

    });

    </script>
}
